body {
  padding: 50px;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.imageBorder {
  width: 500px;
  border: 1px solid #000000;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
}

.bigImageBorder {
  width: 500px;
  border: 1px solid #000000;
  border-radius: 25px;
  float: right;
  padding: 10px;
}

.bigImageBorder img {
  width: 100%;
}

.searchBorder {
  border: 1px solid #000000;
  border-radius: 25px;
  padding: 10px;
  width: 500px;
}

.left {
  float: left;
  clear: left;
  width: 200px;
}
.right {
  float: right;
  clear: right;
  width: 600px;
}

.showMoreButton {
  background-color: #000000;
  color: #ffffff;
  width: 100px;
  font-weight: bold;
}
